# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SSAO-in-URP.iml
# Datasource local storage ignored files
/../../../../../../:\Github projects\SSAO-in-URP\.idea\.idea.SSAO-in-URP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
